In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
data_path = "/Users/ravitejajujjuri/Spark SQL/Exercise Files/Data"

In [3]:
file_path = data_path + "/location_temp.csv"

In [4]:
df1 = spark.read.format("csv").option("header","True").load(file_path)

In [5]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [10]:
df1.orderBy("temp_celcius").count()

500000

In [11]:
df1.groupBy("temp_celcius").count().show()

+------------+-----+
|temp_celcius|count|
+------------+-----+
|          29|46297|
|          30|44039|
|          34|15445|
|          28|48565|
|          22|23172|
|          35|10732|
|          31|42356|
|          27|45715|
|          26|41372|
|          23|27926|
|          38| 2467|
|          40|  377|
|          25|40170|
|          33|21541|
|          24|33824|
|          32|29672|
|          36| 7007|
|          37| 4403|
|          39| 1089|
|          21|13831|
+------------+-----+

In [14]:
df1.avg("temp_celcius")

AttributeError: 'DataFrame' object has no attribute 'avg'

In [26]:
df1.groupBy("location_id").agg({"temp_celcius": "mean"}).show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|     loc196|           29.225|
|     loc226|           25.306|
|     loc463|           23.317|
|     loc150|           32.188|
|     loc292|           29.159|
|     loc311|           24.308|
|      loc22|           28.251|
|     loc351|           28.194|
|     loc370|            29.14|
|     loc419|           29.141|
|      loc31|           25.196|
|     loc305|           27.314|
|      loc82|           27.355|
|      loc90|           23.216|
|     loc118|           24.219|
|     loc195|            27.25|
|     loc208|           26.206|
|      loc39|           25.199|
|      loc75|           23.209|
|     loc228|           27.295|
+-----------+-----------------+
only showing top 20 rows

In [27]:
df1.groupBy("location_id").agg({"temp_celcius": "max"}).show()

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|     loc196|               36|
|     loc226|               32|
|     loc463|               30|
|     loc150|               39|
|     loc292|               36|
|     loc311|               31|
|      loc22|               35|
|     loc351|               35|
|     loc370|               36|
|     loc419|               36|
|     loc305|               34|
|      loc31|               32|
|     loc118|               31|
|     loc195|               34|
|     loc208|               33|
|      loc82|               34|
|      loc90|               30|
|     loc228|               34|
|      loc39|               32|
|      loc75|               30|
+-----------+-----------------+
only showing top 20 rows

In [28]:
df1.groupBy("location_id").agg({"temp_celcius": "min"}).show()

+-----------+-----------------+
|location_id|min(temp_celcius)|
+-----------+-----------------+
|     loc196|               27|
|     loc226|               23|
|     loc463|               21|
|     loc150|               30|
|     loc292|               27|
|     loc311|               22|
|      loc22|               26|
|     loc351|               26|
|     loc370|               27|
|     loc419|               27|
|     loc305|               25|
|      loc31|               23|
|     loc118|               22|
|     loc195|               25|
|     loc208|               24|
|      loc82|               25|
|      loc90|               21|
|     loc228|               25|
|      loc39|               23|
|      loc75|               21|
+-----------+-----------------+
only showing top 20 rows

In [29]:
df1.groupBy("location_id").agg({"temp_celcius": "sum"}).show()

+-----------+-----------------+
|location_id|sum(temp_celcius)|
+-----------+-----------------+
|     loc196|          29225.0|
|     loc226|          25306.0|
|     loc463|          23317.0|
|     loc150|          32188.0|
|     loc292|          29159.0|
|     loc311|          24308.0|
|      loc22|          28251.0|
|     loc351|          28194.0|
|     loc370|          29140.0|
|     loc419|          29141.0|
|      loc31|          25196.0|
|     loc305|          27314.0|
|      loc82|          27355.0|
|      loc90|          23216.0|
|     loc118|          24219.0|
|     loc195|          27250.0|
|     loc208|          26206.0|
|      loc39|          25199.0|
|      loc75|          23209.0|
|     loc228|          27295.0|
+-----------+-----------------+
only showing top 20 rows